
# .NET / C#
**/bin/
**/obj/
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/


# Node.js / Frontend

**/node_modules/
node_modules/

# Build frontend
**/dist/
dist/

# Vite
.vite/

# Environment variables

.env
.env.local
.env.*.local

!.env.example

# Logs

*.log

# Sistema operacional

.DS_Store
Thumbs.db